:root {
    --primary-color: #0F6DD2   ;
    --secondary-color: #67E0A3 ;
    --accent1-color: #11A777;
    --accent2-color: #A300A0;
  
    --heading-font: "Roboto";
    --paragraph-font: Poppins, Helvetica, sans-serif;
  
    --headline-color-on-white: #396E94;   
    --headline-color-on-color: white;  
    --paragraph-color-on-white: #396E94; 
    --paragraph-color-on-color: white;  
    --paragraph-background-color: #396E94  ;
    --nav-link-color: #396E94;
    --nav-background-color: #D4AC0D;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #396E94;
  }